{% extends 'base.html.twig' %}

{% block title %}Wesh{% endblock %}
{% block description %}Alors{% endblock %}

{% block body %}
    <div class="container">
        <h1>Todo</h1>
        <ul class="list-group">
            <li class="list-group-item">All</li>
        </ul>
    </div>
{% endblock %}
